[submodule "eo-protocol"]
	path = eo-protocol
	url = https://www.github.com/cirras/eo-protocol
[submodule "eo-protocol-v3"]
	path = v3/eo-protocol
	url = https://www.github.com/cirras/eo-protocol
[submodule "v3/eo-captured-packets"]
	path = v3/eo-captured-packets
	url = https://github.com/ethanmoffat/eo-captured-packets
