[submodule "eo-protocol"]
	path = eo-protocol
	url = https://www.github.com/cirras/eo-protocol
[submodule "eo-captured-packets"]
	path = eo-captured-packets
	url = https://github.com/ethanmoffat/eo-captured-packets
